body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
}

h1 {
  color: rgb(6,228,189);
  background-image: url("../images/gems.jpg");
  display:inline-block;
  border-radius: 5px;
  padding: 33px 30px 10px 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.my-sound-btn {
  background-color: rgb(90, 255, 13);
  margin-top: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#game-controls {
  margin-top: 10px;
}

.gem {
  width: 150px;
  height: 150px;
  margin: 30px;
}


.my-text {
  font-weight: bolder;
  font-size: 32px;
}

.my-target-number {
  background-image: url("../images/target.jpg");
}

.my-win-loss {
  background-image: url("../images/win.jpg");
}

.my-user-score {
  background-color: rgb(232,163,12);
}